[Unit]
Description=Onewire MQTT Service
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/usr/local/src/onewireToMqtt
ExecStart=/usr/local/src/onewireToMqtt/onewireToMqtt.py
SyslogIdentifier=onewire-to-mqtt
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target